<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="POST" action="./Name.cshtml">
        <input  name="name"/>
        <button>Submit!</button>
    </form>
</body>
</html>
